[submodule "third_party/pybind11"]
	path = facelib/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/dlib"]
	path = facelib/third_party/dlib
	url = https://github.com/davisking/dlib.git
